#logo{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#home{
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#home2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}